/**
 * @theme bluescope
 * @auto-scaling fittingHeader, math
 */

 @import 'default';

 p, ul, footer, header, th, td, ol, ul, h1, h2, h3, h4, h5, h6 {
     font-family: 'Maison Neue', sans-serif;
     hyphens: none;
 }
 
 :root {
     --h1col: #1E45AD;
     --h2col: #676767;
     --h3col: #6CD3E9;
     --h4col: #1E45AD;
     --h5col: #676767;
     --h6col: #6CD3E9;
     --allcol: #000;
     --BkgNum: #676767;
     --BkdPF: #ffffff;
     --bkdSec: #676767;
 }
 
 pre {
    line-height: 1.5 !important; /* Adjust the line spacing */
    padding: 5px !important; /* Remove any padding */
    margin: 10px !important; /* Remove any margin */
    margin-left: 15px; /* Space to the left of the paragraph */
    font-size: 20px;
    hyphens: none;

  }
  
  code {
    font-size: 35px;
    white-space: pre-wrap !important; /* Lines will wrap if they are too long */
    overflow: visible; /* Handling content overflow: visible, hidden, scroll, auto */
    word-wrap: break-word;
    line-height: 1.5 !important; /* Adjust the line spacing */
    /* Margin */
    margin: 10px 0; /* Adjust the margin around paragraphs */
    margin-top: 0px; /* Space above the paragraph */
    margin-right: 15px; /* Space to the right of the paragraph */
    margin-bottom: 10px; /* Space below the paragraph */
    margin-left: -5px; /* Space to the left of the paragraph */
    hyphens: none; 
  }
 
 strong, b {
     color: #1E45AD; /* Change the color to red */
 }
 
 h1 strong, h1 b {
     color: #1E45AD; /* Color for bold text in h1 headings */
 }
 
 h2 strong, h2 b {
     color: #1E45AD; /* Color for bold text in h2 headings */
 }
 
 p {
     display: block;
     color: var(--allcol);
     font-size: 35px; /* Adjust the font size */
     font-weight: normal; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: normal; /* Options: normal, italic, oblique */
     line-height: 1; /* Adjust the line spacing */
     text-align: left; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 
     /* Margin */
     margin: 10px 0; /* Adjust the margin around paragraphs */
     margin-top: 0px; /* Space above the paragraph */
     margin-right: 15px; /* Space to the right of the paragraph */
     margin-bottom: 10px; /* Space below the paragraph */
     margin-left: 15px; /* Space to the left of the paragraph */
 
     /* Padding */
     padding: 0px;
 
     /* Background and Borders */
     background-color: transparent; /* Background color of paragraph */
     border: none; /* Border around paragraph: style, width, and color */
     border-radius: 0; /* Rounded corners for paragraph background */
 
     /* Shadow and Effects */
     text-shadow: none; /* Text shadow: h-shadow, v-shadow, blur-radius, and color */
     box-shadow: none; /* Box shadow: h-offset, v-offset, blur-radius, spread-radius, color */
 
     /* Other properties */
     white-space: normal; /* Handling of white space: normal, nowrap, pre, pre-wrap, pre-line */
     overflow: visible; /* Handling content overflow: visible, hidden, scroll, auto */
     word-break: normal; /* Word breaking: normal, break-all, keep-all, break-word */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 h1 {
     color: var(--h1col);
     font-size: 60px; /* Adjust the font size */
     font-weight: bold; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: normal; /* Options: normal, italic, oblique */
     font-variant: normal; /* Options: normal, small-caps */
     line-height: 1.2; /* Adjust the line spacing */
     text-align: left; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
     overflow: visible; /* Make sure it's not set to 'hidden' */
 
     /* Margin */
     margin-top: 0px; /* Space above the paragraph */
     margin-right: 15px; /* Space to the right of the paragraph */
     margin-bottom: 10px; /* Space below the paragraph */
     margin-left: 15px; /* Space to the left of the paragraph */
 
     /* Padding */
     padding: 0px;
 
     /* Background and Borders */
     background-color: transparent; /* Background color of paragraph */
     border: none; /* Border around paragraph: style, width, and color */
     border-radius: 0; /* Rounded corners for paragraph background */
 
     /* Shadow and Effects */
     text-shadow: none; /* Text shadow: h-shadow, v-shadow, blur-radius, and color */
     box-shadow: none; /* Box shadow: h-offset, v-offset, blur-radius, spread-radius, color */
 
     /* Other properties */
     white-space: normal; /* Handling of white space: normal, nowrap, pre, pre-wrap, pre-line */
     overflow: visible; /* Handling content overflow: visible, hidden, scroll, auto */
     word-break: normal; /* Word breaking: normal, break-all, keep-all, break-word */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 h2 {
     display: block;
     color: var(--h2col);
     font-size: 50px; /* Adjust the font size */
     font-weight: bold; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: italic; /* Options: normal, italic, oblique */
     font-variant: normal; /* Options: normal, small-caps */
     line-height: 1; /* Adjust the line spacing */
     text-align: left; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
 
     /* Margin */
     margin-top: 20px; /* Space above the paragraph */
     margin-right: 15px; /* Space to the right of the paragraph */
     margin-bottom: 10px; /* Space below the paragraph */
     margin-left: 15px; /* Space to the left of the paragraph */
 
     /* Padding */
     padding: 0px;
 
     /* Background and Borders */
     background-color: transparent; /* Background color of paragraph */
     border: none; /* Border around paragraph: style, width, and color */
     border-radius: 0; /* Rounded corners for paragraph background */
 
     /* Shadow and Effects */
     text-shadow: none; /* Text shadow: h-shadow, v-shadow, blur-radius, and color */
     box-shadow: none; /* Box shadow: h-offset, v-offset, blur-radius, spread-radius, color */
 
     /* Other properties */
     white-space: normal; /* Handling of white space: normal, nowrap, pre, pre-wrap, pre-line */
     overflow: visible; /* Handling content overflow: visible, hidden, scroll, auto */
     word-break: normal; /* Word breaking: normal, break-all, keep-all, break-word */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 h3 {
     display: block;
     color: var(--h3col);
     font-size: 70px; /* Adjust the font size */
     font-weight: bold; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: normal; /* Options: normal, italic, oblique */
     font-variant: small-caps; /* Options: normal, small-caps */
     line-height: 1; /* Adjust the line spacing */
     text-align: left; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
 
     /* Margin */
     margin: 10px 0; /* Adjust the margin around paragraphs */
     margin-top: 10px; /* Space above the paragraph */
     margin-right: 15px; /* Space to the right of the paragraph */
     margin-bottom: 10px; /* Space below the paragraph */
     margin-left: 15px; /* Space to the left of the paragraph */
 
     /* Padding */
     padding: 0px;
 
     /* Background and Borders */
     background-color: transparent; /* Background color of paragraph */
     border: none; /* Border around paragraph: style, width, and color */
     border-radius: 0; /* Rounded corners for paragraph background */
 
     /* Shadow and Effects */
     text-shadow: none; /* Text shadow: h-shadow, v-shadow, blur-radius, and color */
     box-shadow: none; /* Box shadow: h-offset, v-offset, blur-radius, spread-radius, color */
 
     /* Other properties */
     white-space: normal; /* Handling of white space: normal, nowrap, pre, pre-wrap, pre-line */
     overflow: hidden; /* Handling content overflow: visible, hidden, scroll, auto */
     word-break: normal; /* Word breaking: normal, break-all, keep-all, break-word */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 h4 {
     display: block;
     color: var(--h4col);
     font-size: 70px; /* Adjust the font size */
     font-weight: bold; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: normal; /* Options: normal, italic, oblique */
     font-variant: small-caps; /* Options: normal, small-caps */
     line-height: 1; /* Adjust the line spacing */
     text-align: center; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
 
     /* Margin */
     margin: 10px 0; /* Adjust the margin around paragraphs */
     margin-top: 10px; /* Space above the paragraph */
     margin-right: 15px; /* Space to the right of the paragraph */
     margin-bottom: 10px; /* Space below the paragraph */
     margin-left: 15px; /* Space to the left of the paragraph */
 
     /* Padding */
     padding: 0px;
 
     /* Background and Borders */
     background-color: transparent; /* Background color of paragraph */
     border: none; /* Border around paragraph: style, width, and color */
     border-radius: 0; /* Rounded corners for paragraph background */
 
     /* Shadow and Effects */
     text-shadow: none; /* Text shadow: h-shadow, v-shadow, blur-radius, and color */
     box-shadow: none; /* Box shadow: h-offset, v-offset, blur-radius, spread-radius, color */
 
     /* Other properties */
     white-space: normal; /* Handling of white space: normal, nowrap, pre, pre-wrap, pre-line */
     overflow: hidden; /* Handling content overflow: visible, hidden, scroll, auto */
     word-break: normal; /* Word breaking: normal, break-all, keep-all, break-word */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 h5 {
     display: block;
     color: var(--h5col);
     font-size: 100px; /* Adjust the font size */
     font-weight: bold; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: normal; /* Options: normal, italic, oblique */
     font-variant: small-caps; /* Options: normal, small-caps */
     line-height: 1; /* Adjust the line spacing */
     text-align: center; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
 
     /* Margin */
     margin: 10px 0; /* Adjust the margin around paragraphs */
     margin-top: 10px; /* Space above the paragraph */
     margin-right: 15px; /* Space to the right of the paragraph */
     margin-bottom: 10px; /* Space below the paragraph */
     margin-left: 15px; /* Space to the left of the paragraph */
 
     /* Padding */
     padding: 0px;
 
     /* Background and Borders */
     background-color: transparent; /* Background color of paragraph */
     border: none; /* Border around paragraph: style, width, and color */
     border-radius: 0; /* Rounded corners for paragraph background */
 
     /* Shadow and Effects */
     text-shadow: none; /* Text shadow: h-shadow, v-shadow, blur-radius, and color */
     box-shadow: none; /* Box shadow: h-offset, v-offset, blur-radius, spread-radius, color */
 
     /* Other properties */
     white-space: normal; /* Handling of white space: normal, nowrap, pre, pre-wrap, pre-line */
     overflow: hidden; /* Handling content overflow: visible, hidden, scroll, auto */
     word-break: normal; /* Word breaking: normal, break-all, keep-all, break-word */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 h6 {
     display: block;
     color: var(--h6col);
     font-size: 70px; /* Adjust the font size */
     font-weight: bold; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: normal; /* Options: normal, italic, oblique */
     font-variant: small-caps; /* Options: normal, small-caps */
     line-height: 1; /* Adjust the line spacing */
     text-align: center; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
 
     /* Margin */
     margin: 10px 0; /* Adjust the margin around paragraphs */
     margin-top: 10px; /* Space above the paragraph */
     margin-right: 15px; /* Space to the right of the paragraph */
     margin-bottom: 10px; /* Space below the paragraph */
     margin-left: 15px; /* Space to the left of the paragraph */
 
     /* Padding */
     padding: 0px;
 
     /* Background and Borders */
     background-color: transparent; /* Background color of paragraph */
     border: none; /* Border around paragraph: style, width, and color */
     border-radius: 0; /* Rounded corners for paragraph background */
 
     /* Shadow and Effects */
     text-shadow: none; /* Text shadow: h-shadow, v-shadow, blur-radius, and color */
     box-shadow: none; /* Box shadow: h-offset, v-offset, blur-radius, spread-radius, color */
 
     /* Other properties */
     white-space: normal; /* Handling of white space: normal, nowrap, pre, pre-wrap, pre-line */
     overflow: hidden; /* Handling content overflow: visible, hidden, scroll, auto */
     word-break: normal; /* Word breaking: normal, break-all, keep-all, break-word */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 table { 
     margin-right: auto;
     margin-left: auto;
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 th {
     text-align: left; /* Aligns text to the left; you can change it to 'center' or 'right' if needed */
     font-weight: bold; /* Makes the header text bold */
     color: #1E45AD; /* Sets the text color; choose a color that fits your design */
     font-size: 16px; /* Sets the font size; adjust as needed */
     font-family: Arial, sans-serif; /* Sets the font family; you can use any font that suits your design */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 
     /* Spacing and padding */
     padding: 8px 2px;
     line-height: 1.2; /* Adjusts the line height for better readability */
 
     /* Border and background */
     border-bottom: 2px solid #CCCCCC; /* Adds a bottom border to each header cell */
     background-color: #F5F5F5; /* Sets a background color for the header; choose a color that fits your design */
 
     /* Other styling */
     vertical-align: middle; /* Aligns content vertically in the middle */
 }
 
 tr:nth-child(even) {
     background-color: #f2f2f2; /* Light gray background */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 td {
     text-align: left; /* Aligns text to the left; you can change it to 'center' or 'right' if needed */
     font-weight: regular; /* Makes the header text bold */
     color: #333333; /* Sets the text color; choose a color that fits your design */
     font-size: 15px; /* Sets the font size; adjust as needed */
     font-variant: normal; /* Options: normal, small-caps */
 
     /* Spacing and padding */
     padding: 8px 2px;
     line-height: 1; /* Adjusts the line height for better readability */
 
     /* Border and background */
     border-bottom: 2px solid #CCCCCC; /* Adds a bottom border to each header cell */
     background-color: #FFFFFF; /* Sets a background color for the header; choose a color that fits your design */
 
     /* Other styling */
     vertical-align: middle; /* Aligns content vertically in the middle */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 td:nth-child(even) {
     background-color: #ebf0fa;
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ol {
     list-style: none; /* Removes default list markers */
     font-size: 40px; /* Adjust the font size */
     font-weight: normal; /* Options: normal, bold, bolder, lighter, or numbers 100-900 */
     font-style: normal; /* Options: normal, italic, oblique */
     font-variant: normal; /* Options: normal, small-caps */
     line-height: 1.2; /* Adjust the line spacing */
     text-align: left; /* Options: left, right, center, justify */
     text-transform: none; /* Options: none, capitalize, uppercase, lowercase */
     text-decoration: none; /* Options: none, underline, overline, line-through */
     letter-spacing: normal; /* Adjust spacing between characters */
     word-spacing: normal; /* Adjust spacing between words */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 
     /* Margin */
     margin: 10px 0;
     margin-top: 10px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 30px;
     counter-reset: list-counter; /* Initializes a counter */
 
     /* Padding */
     padding-left: 0;
 
     /* Other properties */
     list-style-position: inside; /* Options: inside, outside */
     color: #333333; /* Text color for the list items */
     font-family: Arial, sans-serif; /* Sets the font family */
     line-height: 1; /* Adjusts the line height for better readability */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ol, ol li {
     font-size: 30px; /* This sets the font size for both the <ul> and <li> elements */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ol li {
     counter-increment: list-counter; /* Increments the counter for each list item */
     position: relative; /* Allows absolute positioning of pseudo-elements relative to the list items */
     padding-left: 30px; /* Space for the custom marker */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ol li::before {
     content: counter(list-counter) "."; /* Displays the counter and a period */
     position: absolute; /* Absolute position of the pseudo-element */
     left: -10px; /* Aligns the pseudo-element to the left of the list item */
     color: #000000; /* Sets the color of the custom marker */
     font-size: 30px; /* Sets the size of the custom marker */
     top: 2%; /* Positions the marker halfway down the list item */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ul {
     list-style-type: none; /* Removes default list bullets */
     padding-left: 48px; /* Adjusts the padding to the left of the list */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
     word-wrap: normal;
     line-height: 1.2; /* Adjust the line spacing */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ul li {
     content: '•'; /* Custom bullet symbol */
     font-size: 35px; /* This sets the font size for both the <ul> and <li> elements */
     position: relative; /* Needed for absolute positioning of the pseudo-element */
     padding-left: 3%; /* Adds space for the custom bullet */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
     word-wrap: normal;
     line-height: 1.2; /* Adjust the line spacing */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ul > li {
     list-style-type: disc; /* Round bullet point */
     margin-left: -10px; /* Adjust the margin to reduce space between bullet and text */
     padding-left: 0px; /* Adjust the padding for the list item text */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 ul ul > li {
     list-style-type: '-'; /* Dash */
     margin-left: -5px; /* Adjust the margin to reduce space between bullet and text */
     padding-left: 15px; /* Adjust the padding for the list item text */
     hyphens: none; /* Automatic hyphenation: none, manual, auto */
 }
 
 header {
     display: block;
     font-size: 10px;
 }
 
 footer {
     display: block;
     font-size: 10px;
 }
 
 img {
     max-width: 100%; /* Ensures the image is not larger than its container */
     height: auto;
 
     /* Adds a subtle border and some shadow for depth */
     border: 0px solid #ccc;
     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
 
     /* Adds some space around the image */
     margin: 10px 0;
 
     /* Smoothens the image rendering */
     image-rendering: auto;
 
     /* Optional: Rounds the corners of the image */
     border-radius: 4px;
 
     /* Ensures the image doesn’t stretch out of proportion */
     object-fit: cover;
 
     /* Aligns image in case it's inside a container like a figure or a div */
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 