/**
 * @theme pagelorealsyllabus
 * @auto-scaling fittingHeader,math
 */

 @import 'default';

   /* Brochure Font */
   p, ul, footer, header, th, td, ol, h1, h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic', 'Crimson', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

 section {
   width: 2970px;
   height: 1670px;
   color: black;
 }

section::after {
  color: #7200A8;         /* Electric Violet */
  font-size: 0.7em;
  font-weight: bold;
  bottom: 1.2em;
  right: 2em;
  position: absolute;
}

/* Optional: completely restyle the page number container */
.pagination {
  font-size: 0.75em;
  color: #7200A8;
  font-weight: bold;
  position: absolute;
  bottom: 1.2em;
  right: 2em;
}


body {

    color: #2C004E;
    background-color: #FAFAFA;
    margin: 40px;
}

h1 {
    font-size: 3.2em;
    color: #7200A8;
    font-family: 'Futura', sans-serif;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensures both columns take equal height */
    gap: 40px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left {
    max-width: 65%;
    justify-content: flex-start;
}

.right {
    max-width: 35%;
    justify-content: center; /* Centers the image vertically */
    display: flex;
    align-items: center; /* Aligns the image vertically */
}

p {
    font-size: 1.4em;
    line-height: 1.4; /* Reduced space between lines */
    margin-bottom: 8px; /* Reduced space between paragraphs */
}

ul, ol {
    font-size: 0.8em;
    line-height: 1.3; /* Reduced line spacing for lists */
    padding-left: 38px;
    margin-top: 4px;
    margin-bottom: 4px;
}

li > ul {
    font-size: .5em;
    line-height: 1.3; /* Reduced line spacing for lists */
    padding-left: 38px;
    margin-top: 4px;
    margin-bottom: 4px;
}

li {
    font-size: 1.8em;
    margin-bottom: 3px; /* Reduced space between list items */
}

.anecdote {
    background-color: #C080FF20;
    border-left: 5px solid #7200A8;
    padding: 35px;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 12px; /* Slightly reduced space before anecdotes */
}

img {
    display: block;
    max-width: 80%;
    border: px solid #7200A8;
    border-radius: 8px;
}

.toc ol {
    font-size: 0.75em;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
  
  .toc li {
    list-style: none;
    font-size: 1.7em;
    margin-bottom: 4px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .toc-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;

    white-space: nowrap;
  }
  
  .title {
    padding-right: 0.5em;
  }
  
  .dots {
    flex: 1;
    border-bottom: 1px dotted #7200A8;
    margin: 0 0.5em;
    height: 0.8em;
  }
  
  .page {
    min-width: 2em;
    text-align: right;
    color: #7200A8;
    font-weight: bold;
  }