/**
 * @theme pagedwalexicon
 * @auto-scaling fittingHeader,math
 */

 @import 'default';

   /* Brochure Font */
   p, ul, footer, header, th, td, ol, h1, h2, h3, h4, h5, h6 {
    font-family: 'Freight Sans', sans-serif;
 }

 section {
    width: 11in;
    height: 8.5in;
    color: black;
    padding-left: 1in;
    padding-right: 1in;
    padding-top: 0.5in;
    padding-bottom: 0.5in;
  }
  
  
  /* Brochure Font */
  p, ul, footer, header, th, td, ol, h1, h2, h3, h4, h5, h6 {
    font-family: 'Freight Sans', sans-serif;
  }
  
  section::after {
    content: attr(data-marpit-pagination);
    color: #EB9D41;  
    font-size: 15pt;       
    font-family: 'Freight Sans', sans-serif;
    font-weight: bold;
    bottom: 1.8em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }  
  
  
  body {
    color: #EB9D41;
    background-color: #FAFAFA;
  }
  
  h1 {
    font-size: 30pt;
    color: #EB9D41;
    text-align: left;
    margin-bottom: 0px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0px;
    margin-left: 0px;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .lefteven {
    max-width: 65%;
    justify-content: flex-start;
  }
  
  .righteven {
    max-width: 35%;
    justify-content: center;
    display: flex;
    align-items: center;
  }


  .rightodd {
    max-width: 65%;
    justify-content: flex-start;
  }
  
  .leftodd {
    max-width: 35%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  p {
    font-size: 12pt;
    line-height: 1.4;
    margin-bottom: 8px;
  }
  
  ul, ol {
    font-size: 10pt;
    line-height: 1.3;
    padding-left: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  li > ul {
    font-size: 10pt;
    line-height: 1.3;
    padding-left: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  li {
    font-size: 11pt;
    margin-bottom: 3px;
  }
  
  .anecdote {
    background-color: #EB9D41;
    border-left: 5px solid #565656;
    padding: 15px;
    font-style: italic;
    font-size: 12pt;
    margin-top: 12px;
  }
  
  img {
    display: block;
    max-width: 80%;
    border: 0px solid #003F66;
    border-radius: 0px;
  }
  
  .toc ol {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
  
  .toc li {
    list-style: none;
    font-size: 17px;
    margin-bottom: 4px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .toc-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }
  
  .title {
    padding-right: 0.5em;
  }
  
  .dots {
    flex: 1;
    border-bottom: 1px dotted #EB9D41;
    margin: 0 0.5em;
    height: 0.8em;
  }
