/**
 * @theme doc-dwa
 * @auto-scaling fittingHeader,math
 */

 @import 'default';

 section {
  width: 8.5in;
  height: 11in;
  color: black;
  padding-left: 0.5in;
  padding-right: 0.5in;
  padding-top: 0.5in;
  padding-bottom: 0.5in;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start from the top */
  align-items: stretch; /* Let elements decide their own alignment */
  text-align: left; /* Normal text is aligned left */
}
  /* Brochure Font */
  p, ul, footer, header, th, td, ol, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    }
    
/* PAGE NUMBER */
section::after {
  content: attr(data-marpit-pagination);
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: 12px;
  color: #aaa;
}

/* Make all bold text orange */
strong, b, h1 strong, h1 b, h2 strong, h2 b, h3 strong, h3 b {
  color: #FF9100; /* orange */
}
 
/* Section Headers */

h1 {
   color: #000000;
   font-size: 20pt;
   font-weight: bold;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 0px;
   text-align: left; /* Options: left, right, center, justify */
}
 
h2 {
   color: #7b7b7b;
   font-size: 16pt;
   margin-top: 10px;
   margin-bottom: 5px;
   margin-left: 10px;
   margin-right: 10px;
   padding-top: 0px;
   padding-bottom: 0px;
  }
 
h3 {
   color: #000000;
   font-size: 14pt;
   margin-top: 10px;
   margin-bottom: 5px;
   margin-left: 10px;
   margin-right: 10px;
 }

/* Cover Page Titles */

h4 {
  color: #FF9100;
  font-size: 30pt;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center; /* Options: left, right, center, justify */
 }


h5 {
  color: #000000;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25pt;
  text-align: center; /* Options: left, right, center, justify */
 }
 
h6 {
   color: #424242;
   font-size: 24pt;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 0px;
   margin-bottom: 0px;
   text-align: center; /* Options: left, right, center, justify */
 }
 
 p {
   color: #000000;
   margin-left: 10px;
   margin-right: 10px;
   font-size: 12pt;
   margin-top: 0px;
   margin-bottom: 5px;
 }
 
 ul  {
   color: #000000;
   margin-top: 0px;
   margin-bottom: 5px;
   margin-left: 0px;
   margin-right: 0px;
   font-size: 11pt;
   text-indent: -.8em;     /* Aligns text more tightly with bullet */
 }

 li > ul {
  color: #000000;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: -10px;
  margin-right: 10px;
  font-size: 10pt;
  text-indent: .5em;     /* Aligns text more tightly with bullet */
}

ol  {
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 10pt;
}

li > ol {
 color: #000000;
 margin-top: 0px;
 margin-bottom: 10px;
 margin-left: 20px;
 margin-right: 20px;
 font-size: 10pt;
}


table, th, td {
  border: 0px solid #ddd;
  padding: 8px;
  margin: 0 auto;
  border-collapse: collapse;
  width: fit-content;
  font-size: 14px;
}

td, th {
  background-color: transparent !important;
}


table tr:nth-child(even) {
  background-color: #ff910045;
}

th, td {
  color: #000000;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10pt;
}

section table thead tr th,
section table tr:first-child th {
background-color: #FF9100 !important;
}

td:nth-child(even){background-color: #ebf0fa}
 
 /* Blocks with Borders */
 .block {
   border: 0px solid black;
   padding: 10px;
   margin-bottom: 10px;
 }
 
 /* Force Page Break in Print */
 .page-break {
   page-break-before: always;
 }

 .watermark-slide {
  position: absolute;
  top: 100%;
  left: 120%;
  width: 900px;
  height: 900px;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: 0;
  pointer-events: none;
}

.image-small {
  text-align: center;
}

.image-small img {
  /* optional: ensure it shrinks responsively */
  max-width: 300px;
  height: auto;
}


/* For a slide with 2 columns */
.columns2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

/* For a slide with 3 columns */
.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}